---
import { Image } from "astro:assets"
import datistLogoTextDark from "./images/datist-logo-text-dark.svg"
import datistLogoTextLight from "./images/datist-logo-text-light.svg"
---

<article class="sl-flex not-content">
  <small> Brought to you by </small>
  <div>
    <a href="https://datist.io">
      <Image src={datistLogoTextLight} alt="Datist" width={300} data-variant="light" />
      <Image src={datistLogoTextDark} alt="Datist" width={300} data-variant="dark" />
    </a>
  </div>
  <p>
    We are bringing technological innovation and consultancy<br /> services to the open data field
  </p>
</article>

<style>
  article {
    color: #868e96;
    max-width: 960px;
    margin-inline: auto;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  div {
    padding: 16px;
    border-radius: 16px;
    border: dashed 1px #aaa;
  }
  img {
    display: none;
    width: 100%;
    max-width: 300px;
  }
  html[data-theme="light"] img[data-variant="light"] {
    display: block;
  }
  html[data-theme="dark"] img[data-variant="dark"] {
    display: block;
  }
</style>
